extends ../layouts/app

include ../mixins/_button
include ../mixins/_seoMeta

append head
  +seo_meta(pageMeta)

append appContent
  img.fixed.top-0.left-0.-mt-200(src="/resources/images/circles-illustration.png")
  img.fixed.bottom-0.right-0.-mb-120(src="/resources/images/circles-illustration-small.png")
  div.w-full.bg-primary
    .container.mx-auto.py-50.h-screen.relative
      a(href=route.home, title="Home page")
        h2.text-white.text-md.font-bold #{app.title}

      .form.flex.flex-row.h-full.items-center.justify-between
        .w-full.text-center
          h2.text-white.text-md.font-bold !{__('auth.create_new_password')}
          p.text-grey-dark.text-base !{__('auth.create_new_password_subtitle')}

          form.w-full.max-w-300.mx-auto.mt-50(ja-request=route.resetPassword.replace(':userId', userId).replace(':key', key), ja-ajax, ja-type="post", autocomplete="off")
            input(type="hidden", name="_csrf", value=csrfToken)

            .block.text-center.relative
              input.border-b.border-grey-dark.bg-transparent.text-grey-dark.py-20.w-full.outline-none(type="password", placeholder=__('auth.password'), name="password")
              i#show-password.text-grey-dark.absolute.right-0.top-0.mt-25(data-feather="eye-off", data-target="input[name=password]")
              i#hide-password.hidden.text-grey-dark.absolute.right-0.top-0.mt-25(data-feather="eye", data-target="input[name=password]")
              span.hidden.text-left.validation.password-validation.text-10
            
            .mt-50
              button.inline-block.text-base.px-30.py-15.leading-none.rounded-6.text-white.text-center.bg-primary-soft.mt-4(ja-send, class='hover:bg-primary-soft lg:mt-0')
                | !{__('auth.update_password')}