extends ../layout

append content
    p.mb-2 Hi <b class="color-primary">#{data.user.fullName}</b>,
    p.mb-2 
        | !{__('email.reset_password.paragraph_1')}.
        | !{__('email.reset_password.paragraph_2')}.
    p.mb-2
        a.color-primary(href=data.reset_password_link)
            | !{data.reset_password_link}
    p.mb2
        | Salam Hormat.<br />
        | I Kadek Pradnyana.